\node_modules
.env
db/dyanmo-test.js
db/init-dynamo.js
db/tokens.js
db/test.js

helpers/workers.js
helpers/tasks.js
helpers/workers.js
docker-compose.yaml
Dockerfile
scaling.txt
db/tests/insert-user.js
